@model TicketSystem.DatabaseRepository.Model.EventList
@{
    ViewData["Title"] = "GetEvents";
}

<h2>GetEvents</h2>



        <div class="container">
       @{for (var i = 0; i < Model.TicketEventDates.Count; i++)
        {


        <div class="row">
            <div class="col-sm">
                <h1> @Model.TicketEventDates[i].TicketEventID;</h1>
                <h1> @Model.TicketEventDates[i].EventStartDateTime;</h1>
            </div>
          
        </div>
        <div class="row">
            <div class="col-sm">
                <h1> @Model.TicketEvents[i].TicketEventId;</h1>
                <h1> @Model.TicketEvents[i].EventName;</h1>
            </div>

        </div>
        <div class="row">
            <div class="col-sm">
                <h1> @Model.TicketEvents[i].EventHtmlDescription;</h1>
            </div>

        </div>

        <div class="row">
            <div class="col-sm">
                <h1> @Model.Venues[i].VenueId;</h1>
                <h1> @Model.Venues[i].VenueName;</h1>
            </div>

        </div>
        
    }


}
</div>