@using TicketSystem.RestApiClient.Model;
@model List<EventTest>
@{
    ViewData["Title"] = "GetEvents";
}

<h2>GetEvents</h2>



        <div class="container">
       @{foreach (var i in Model)
        {


        <div class="row">
            <div class="col-sm">
                <h1> @i.EventStartDateTime;</h1>
                <h1> @i.TicketEventDateID;</h1>
            </div>
          
        </div>
        <div class="row">
            <div class="col-sm">
                <h1> @i.EventName;</h1>
                <h1> @i.EventHtmlDescription;</h1>
            </div>

        </div>
        <div class="row">
            <div class="col-sm">
                <h1> @i.VenueName;</h1>
            </div>

        </div>

        <div class="row">
            <div class="col-sm">
                <h1> @i.Address;</h1>
                <h1> @i.City;</h1>
            </div>

        </div>
        
    }


}
</div>