
@model List<TicketSystem.RestApiClient.Model.EventTest>
@{
    ViewData["Title"] = "GetEvents";
}

<h2>All events</h2>



<div class="container-fluid">

    @{foreach (var i in Model)
        {


            <div class="col-sm-6" style="background-color:lightgray;"><b>Eventstart: @i.EventStartDateTime</b></div>
            <div class="col-sm-6" style="background-color:lightgray;"><b>Ticketid: @i.TicketEventDateID</b></div>
            <div class="col-sm-6" style="background-color:lightgray;"><b>Eventname: @i.EventName</b></div>
            <div class="col-sm-6" style="background-color:lightgray;"><b>Eventdescription: @i.EventHtmlDescription</b></div>
            <div class="col-sm-6" style="background-color:lightgray;"><b>Venuename: @i.VenueName</b></div>
            <div class="col-sm-6" style="background-color:lightgray;"><b>Address: @i.Address</b></div>
            <div class="col-sm-6" style="background-color:lightgray;"><b>City: @i.City</b></div>


            @*@i.EventStartDateTime , @i.TicketEventDateID, @i.EventName, @i.EventHtmlDescription,  @i.VenueName, @i.Address, @i.City*@







        }
 

    }

    </div>
